.box-form {
    margin: 15px 80px 40px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 13px #00000028;
}

.box-form .left {
    width: 58vw;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box-form .right {
    width: 45vw;
    padding: 40px;
    color: var(--first-color);
}

.box-form .right h5 {
    font-size: 30px;
    line-height: 2;
}

.box-form .right h6 {
    margin-top: 10px;
    font-size: 18px;
}

.box-form .right .password {
    margin-top: 20px;
}

.box-form .right .inputs {
    overflow: hidden;
}

.box-form .right .names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.box-form .right .names div {
    width: 100%;
}

.box-form .right .inputs input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #7070708a;
    border-radius: 3px;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.box-form .right .register {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.box-form .right .custom_button {
    font-size: 16px;
    padding: 10px 30px;
}

.box-form .right .another_register {
    text-align: center;
}

.box-form .right .another_register img {
    margin-left: 10px;
}

.box-form .right .another_register a:nth-child(1) img {
    width: 100px;
    padding-top: 10px;
}

.box-form .right .another_register a:nth-child(2) img {
    width: 130px;
}

.box-form .right .checkbox label {
    color: #717171;
    font-size: 14px;
    font-family: 'Tajawal-Regular';
}

.box-form .nav-pills {
    margin-bottom: 30px;
}

.box-form .nav-pills a.active {
    background-color: var(--first-color);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

::placeholder {
    font-size: 14px;
}

@media (max-width: 1000px) {
    .nav .nav-item .nav-link {
        font-size: 14px;
    }
    .box-form .right .another_register a:nth-child(1) img {
        width: 90px;
    }
    .box-form .right .another_register a:nth-child(2) img {
        width: 120px;
    }
    .box-form .right {
        width: 62vw;
        padding: 20px;
    }
}

@media (max-width: 870px) {
    .nav .nav-item .nav-link {
        font-size: 15px;
    }
    .box-form {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .box-form .left {
        width: 100%;
        height: 45vh;
    }
    .box-form .right {
        width: 100% !important;
    }
    .box-form .right .another_register a:nth-child(1) img {
        width: 100px;
    }
    .box-form .right .another_register a:nth-child(2) img {
        width: 130px;
    }
}

@media (max-width: 600px) {
    .box-form .right h6 {
        font-size: 15px;
    }
    .box-form .right h5 {
        text-align: center;
    }
     ::placeholder {
        font-size: 13.5px;
    }
    .box-form {
        margin: 20px;
    }
    .box-form .right .register {
        justify-content: center;
    }
    .box-form .right>p {
        text-align: center;
    }
    .box-form .right {
        padding: 20px;
    }
    .box-form .right a {
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .box-form .left {
        width: 100%;
        height: 35vh;
    }
}