.footer {
    background-color: transparent;
    width: 100%;
    color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 40px 0;
    flex-wrap: center;
}

.footer .container {
    grid-template-columns: 39% 18% 18% 18%;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}

.brand span img {
    padding-bottom: 20px;
    width: 180px;
}

.footer p {
    font-size: 20px;
}

.footer ul {
    list-style: none;
}

.footer .response {
    font-size: 60px;
    font-weight: bold;
}

.footer li {
    margin-bottom: 20px;
}

.footer li a {
    font-size: 20px;
    color: var(--background-color);
    text-decoration: none;
    font-family: 'Cairo', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

.footer .contant {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .icon {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.footer .icon i {
    color: var(--first-color-alt);
    border-radius: 100px;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.footer .icon a:nth-of-type(2) i {
    position: relative;
    bottom: 10px;
    font-size: 35px;
}

.rights {
    background: var(--first-color);
    text-align: center;
    color: var(--container-color);
}

.response {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.response i {
    display: none;
}

.mobile {
    display: none;
}

.large {
    display: block;
}

[data-bs-toggle="collapse"]+i:before {
    content: "\f068";
    color: var(--first-color-alt);
}

[data-bs-toggle="collapse"].collapsed+i:before {
    content: "\f067";
    color: var(--first-color);
}

@media (max-width: 1400px) {
    .footer .container {
        grid-template-columns: 50% 30%;
        column-gap: 80px;
    }
}

@media (max-width: 780px) {
    .footer {
        background-color: var(--container-color);
        padding-top: 15px;
        border-top: 4px solid var(--second-color);
    }
    .footer .container {
        grid-template-columns: 90%;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
    .response i {
        margin: 0;
    }
    .response i {
        font-size: 18px;
        color: var(--first-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile {
        display: block;
        padding: 0;
    }
    .large {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .brand span img {
        width: 130px;
        height: 90px;
    }
    .footer p {
        font-size: 17px;
        font-weight: bold;
    }
}